<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHarvest"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.showqr.ShowQrActivity"
            android:exported="false" />
        <activity
            android:name=".ui.productactivedetail.ProductActiveDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.addproductitem.AddProductItemActivity"
            android:exported="false" />
        <activity
            android:name=".ui.productitemdetail.ProductItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.productmanagement.ProductManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.producthistory.ProductHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detailproductcatalog.ProductCatalogDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.welcomepage.WelcomePageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>